<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Summarizer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">News Summarizer</h1>
      <form method="post" class="mt-3" id="summarizer-form">
        <div class="form-group">
          <label for="query">Enter search query:</label>
          <input
            type="text"
            class="form-control"
            id="query"
            name="query"
            placeholder="Enter topic"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Get Summary</button>
        <a href="/" class="btn btn-secondary" id="clear-button"> Clear </a>
        <!-- Loading spinner -->
        <div class="spinner-border text-primary mt-3" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </form>

      {% if summary %}
      <h2 class="mt-5">Summary:</h2>
      <p class="summary">{{ summary }}</p>

      <h3 class="mt-5">Sources:</h3>
      <ul class="source-list">
        {% for source in sources %}
        <li>
          <a href="{{ source.link }}" target="_blank">{{ source.judul }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
